<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Insert title here</title>
</head>
<body>
	<h1>Cadastro de Eventos</h1>
	<form method="post">
		<label for="nome">Nome</label>
		<input type="text" value="" name="nome"/>
		<label for="local">Local:</label>
		<input type="text" value="" name="local"/>
		<label for="data">Data:</label>
		<input type="date" value="" name="data"/>
		<label for="horario">Horário:</label>
		<input type="text" value="" name="horario"/>
		<button type="submit">Salvar</button>
	</form>
</body>
</html>